* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Media */

@media (min-width: 300px) and (max-width: 500px) {
  .header {
    flex-direction: column;
  }

  .header ul {
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 50px;
    position: absolute;
    left: -175px;
  }

  button {
    font-size: 12px;
  }

  .menu-items {
    flex-direction: column;
  }

  .food-items {
    flex-direction: column;
  }

  .cart {
    flex-direction: column;
  }

  .cart-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
    flex-wrap: nowrap;
    width: 100%;
  }

  .cart .cart-item img {
    width: 40px;
    height: auto;
  }

  .cart .cart-item button {
    font-size: 8px;
    width: 40px;
    height: 20px;
    text-align: center;
    padding: 0;
  }

  .cart .cart-item h4,
  .cart .cart-item input {
    font-size: 10px;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .menu .menu-items {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
  }

  .menu .food-items {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .menu .food-items button {
    font-size: 12px;
  }

  .cart .cart-item {
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .cart .cart-item img {
    width: 55px;
  }

  .cart .cart-item h4 {
    font-size: 15px;
  }

  .cart .cart-item button {
    font-size: 10px;
    padding: 0px;
    width: 50px;
    height: 25px;
  }
}

@media (min-width: 1000px) {
  .cart .cart-item img {
    width: 80px;
  }
}

/* Header */

.header {
  height: 10vh;
  width: 100%;
  background-color: #b9b9b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin-left: 20px;
}

.header h1 a {
  color: #000;
}

.header ul {
  display: flex;
}

.header ul li a {
  padding: 25px;
  transition: 0.5s;
  color: #000;
}

.header ul li a:hover {
  background-image: linear-gradient(to right, #567, #8da5bd);
  color: #fff;
}

/* Container */

.container {
  display: flex;
  width: 100%;
  float: left;
}

.menu {
  width: 50%;
  height: 90vh;
}

.menu-items {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(80deg, #567, #8da5bd);
}

.menu-items button:hover {
  background-color: #e0e0e0;
}

.food-items {
  width: 100%;
  height: 50%;
  display: flex;
  background-image: linear-gradient(80deg, #8da5bd, #567);
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.food-items button {
  color: #ccc;
  background-color: #567;
}

.food-items button:hover {
  color: #ffffff;
  background-color: #738496;
}

button {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.5s;
}

.cart {
  background-color: #a59f81;
  width: 50%;
  height: auto;
  float: right;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  flex-wrap: nowrap;
  width: 100%;
}

.cart-item img {
  width: 130px;
  height: auto;
}

.cart-item h4 {
  margin-bottom: 5px;
}

.cart-item input {
  outline: none;
  border: none;
  background-color: #7fff0000;
  width: 10%;
  height: 40%;
  text-align: center;
  color: white;
  cursor: context-menu;
}

.cart-item button {
  height: 40px;
  width: 70px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #ff5d5d;
}
